*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.wrapper {
  max-width: 90%;
  margin: 6px auto;
  padding: 0px 20px;
  background: none;
  border-radius: 8px;
  position: relative;
}

h1, h2 {
  padding-top: .25em;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  color: #E57A02;
}

video, audio, .mejs-treehouse {
  margin: 0 auto;
  display: block;
}

img#bg{
  z-index: -10;
  width: 100%;
  height: 100%;
  position: absolute;
}

